$lightbluegrey: #eceff1;
// blue-grey lighten-5
$blue: #2079c7;

$gmail-red: hsl(5, 76%, 60%);

$github-grey: hsl(0, 1%, 20%);

$hover-grey: #cfd8dc;

$hover-dark-grey: rgba(52, 50, 50, .7);

$transparent: rgba(236, 239, 241,0);
