@import 'https://fonts.googleapis.com/css?family=Merienda';

body{
  background-color: #eceff1;
  // blue-grey lighten-5
}

.side-nav{
  min-width:20%;
  max-width:30%;
  li{
    display: flex;
    justify-content: flex-start;
  }
  .userView .circle{
    height: 7vw;
    width: auto;
  }
}

.center-pic{
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merienda', cursive;
  color: #2079c7;
}

.menu{
  color: #2079c7;
  padding: 2px;
  border: solid 1px #e57373;
  // red lighten-2
  margin: 3px;
}

#intro{
  background-color: #2079c7;
  color: #eceff1;
  h3,h5{
    color: #eceff1;
  }
  img{
    height: 15vw;
  }
  i{
    color: white;
    background-color: black;
    padding: 1vw;
    border-radius: 50%;
    margin: 1vw 2vw;
  }
  .fa-linkedin{
    background-color: hsl(200, 76%, 42%);
  }
  .fa-github{
    background-color: hsl(0, 1%, 20%);
  }
  .fa-envelope-o{
    background-color: hsl(5, 76%, 60%);
  }
}
