@import 'https://fonts.googleapis.com/css?family=Merienda';
@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans';
@import 'colors';

body{
  background-color: $lightbluegrey;
  font-family: 'Merriweather Sans', sans-serif;
}

.sideNav li{
  padding: .5rem .5rem;
  a{
    vertical-align: top;
    i{
      padding: 0 .5rem;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merienda', cursive;
  color: $blue;
}

#intro{
  background-color: $blue;
  color: $lightbluegrey;
  h3,h5{
    color: $lightbluegrey;
  }
  img{
    width: 35%;
  }
  i{
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
    margin: 1vw 2vw;
    &:hover{
      box-shadow: none;
    }
  }
  .fa-linkedin{
    background-color: hsl(200, 76%, 42%);
  }
  .fa-github{
    background-color: $github-grey;
  }
  .fa-envelope-o{
    background-color: $gmail-red;
  }
}

#skills .card{
  background-color: white;
  li{
    margin-bottom: .5rem;
  }
  .personal{
    color: $gmail-red;
  }
}

.nav-side{
  li a{
    vertical-align: top;
    line-height: 2rem;
    color: $blue;
    i{
      padding: 0 .5rem;
    }
    &:hover{
      background-color: $hover-grey;
      border-left: 1px solid $gmail-red;
    }
    &:active{
      border-left: 2px solid $gmail-red;
    }
  }
}

.projects {
  img{
    width: 100%;
    margin: .5vw 0;
  }
}

.project{
  position: relative;
  width: 100%;
  p{
    position: absolute;
    bottom: 30%;
    padding: 1em 0;
    width: 93%;
    font-size: 1em;
    color: $transparent;
  }
  &:hover{
    p{
      background-color: $hover-dark-grey;
      color: $lightbluegrey;
      font-weight: bold;
    }
  }
}
