@import 'https://fonts.googleapis.com/css?family=Merienda';
@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans';


body{
  background-color: #eceff1;
  // blue-grey lighten-5
  font-family: 'Merriweather Sans', sans-serif;
}

.sideNav li{
  padding: .5rem .5rem;
  a{
    vertical-align: top;
    i{
      padding: 0 .5rem;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merienda', cursive;
  color: #2079c7;
}

#intro{
  background-color: #2079c7;
  color: #eceff1;
  h3,h5{
    color: #eceff1;
  }
  img{
    height: 15vw;
  }
  i{
    color: white;
    background-color: black;
    padding: 1vw;
    border-radius: 50%;
    margin: 1vw 2vw;
  }
  .fa-linkedin{
    background-color: hsl(200, 76%, 42%);
  }
  .fa-github{
    background-color: hsl(0, 1%, 20%);
  }
  .fa-envelope-o{
    background-color: hsl(5, 76%, 60%);
  }
}

#skills .card{
  background-color: white;
  li{
    margin-bottom: .5rem;
  }
}
