<section class="section">
  <div class="row">
    <h4 class="center-align">About Me</h4>
    <div class="col m12 white card z-depth-1">
      <div class="card-content">
        <p>I am a JavaScript Full Stack (MEAN) developer based in Denver, CO. I graduated from Denison University with a B.A. in History. While in college, I played on the Varsity Basketball team and was an active member of many campus organizations. Prior to becoming a web developer, I worked in marketing and sales development. I also have experience in customer service, ski instruction, and the hospitality industry. I made the decision to move into software development after recognizing my interest in and aptitude for problem solving.</p>
        <p>Through the Galvanize Full Stack Immersive program I've gained core competencies in JavaScript, PostgreSQL, Node.js, Express, AngularJS 1.x, Knex.js, jQuery, and Mocha/Chai testing.</p>
        <p>Outside of software development, I’m passionate about travel, family, history, and outdoor activities such as skiing, hiking, and backpacking.</p>
      </div>
      <div class="card-action center">
        <a href="#contact" du-smooth-scroll du-scrollspy>Contact Me</a>
      </div>
    </div>
  </div>
</section>
