<section class="section">
  <div class="row">
    <div class="col m12">
      <h4 class="center">Contact</h4>
      <div class="col m12 white card z-depth-1">
          <section class="col m6">
            <li><a href="https://www.linkedin.com/in/lfollansbee" target="_blank">
              <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> /in/LFollansbee
            </a></li>
            <li><a href="https://github.com/lfollansbee" target="_blank">
              <i class="fa fa-github fa-lg" aria-hidden="true"></i> /LFollansbee
            </a></li>
            <li><a href="mailto:lfollansbee@gmail.com" target="_top">
              <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> LFollansbee@gmail.com
            </a></li>
          </section>
          <section class="col m6">
            <li><a href="https://drive.google.com/file/d/0B4IHzYN2cgrNMEFRbDhWT3VoLTA/view?usp=sharing" target="_blank">
              <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Resume
            </a></li>
            <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 720-432-2497</li>
            <li></li>
          </section>
      </div> <!-- card -->
    </div>
  </div>
</section>
