<section>
  <div class="row">
    <h4 class="center">Education</h4>
    <ul class="tabs z-depth-1">
      <li ng-class="{underline: showGalvanize}" class="tab col s4 m4 l4">
        <a ng-click="toGalvanize()">Software Development</a>
      </li>
      <li ng-class="{underline: showDenison}" class="tab col s4 m4 l4">
        <a ng-click="toDenison()">Undergraduate</a>
      </li>
      <li ng-class="{underline: showHH}" class="tab col s4 m4 l4">
        <a ng-click="toHH()">High School</a>
      </li>
    </ul>

    <div id="galvanize" ng-show="showGalvanize">
      <article class="card col s12 m12 l12">
        <div class="card-content">
          <div class="col s4 m4 l4 school">
            <a target="_blank" href="http://www.galvanize.com/courses/web-development/#.V84Nd5MrK9Y">
            <img class="responsive-img" src="images/galvanize-g.svg"/>
          </a>
          </div>
          <div class="col s8 m8 l8">
            <a target="_blank" href="http://www.galvanize.com/courses/web-development/#.V84Nd5MrK9Y"><p class="card-title">Galvanize Web Development Immersive</p></a>
            <p class="dates">April 2016 - September 2016</p>
            <p>Intensive program with 1000+ hours of coursework focused on the latest web technologies, TDD, and agile methods.</p>
            </div>
        </div>
      </article>
    </div>

    <div id="denison" ng-show="showDenison">
      <article class="card col s12 m12 l12">
        <div class="card-content">
          <div class="col s4 m4 l4 school">
            <a target="_blank" href="http://www.denison.edu/">
              <img class="du responsive-img" src="images/Denison_University.jpg"/>
            </a>
          </div>
          <div class="col s8 m8 l8">
            <a target="_blank" href="http://www.denison.edu/"><p class="card-title">Denison University</p></a>
            <p class="details">Bachelor of Arts (B.A.), History</p>
            <p class="dates">August 2009 - May 2013</p>
            <p>Graduated with honors. Member of Phi Alpha Theta (National History Honor Society), Delta Gamma Fraternity, and a recipient of the Alumni Award Scholarship.</p>
            <p class="dates">Varsity Basketball</p>
            <p>Committed approximately 20 hours per week to training, travelling, and competing while simultaneously maintaining a full course load and achieving excellent grades. Led the team in blocked shots for three consecutive seasons.</p>
          </div>
        </div>
      </article>
    </div>

    <div id="harpethhall" ng-show="showHH">
      <article class="card col s12 m12 l12">
        <div class="card-content">
          <div class="col s4 m4 l4 school">
            <a target="_blank" href="https://www.harpethhall.org/"><img class="responsive-img logo" src="images/harpeth_hall.jpg"/></a>
          </div>
          <div class="col s8 m8 l8">
            <a target="_blank" href="https://www.harpethhall.org/"><p class="card-title">Harpeth Hall School</p></a>
            <p class="details">Nashville, TN</p>
            <p class="dates">August 2005 - May 2009</p>
            <p>Harpeth Hall School is a private college preparatory school for girls and young women in Nashville, Tennessee.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
