<section class="section">
  <div class="row">
    <h4 class="center-align">Experience</h4>
    <div class="timeline">
      <article class="timeline-event">
        <div class="card timeline-content">
          <div class="card-content">
            <p class="card-title">Business Development Representative</p>
            <a href="http://www.implement-ix.com/"><p class="details">Implementix, Inc. - Wheat Ridge, CO</p></a>
            <p class="dates">2014 - 2016</p>
            <p>Single-handedly developed multiple automated email marketing campaigns. Conducted telephone pitches, and prepared presentations for prospective clients.</p>
          </div>
        </div>
        <div class="timeline-badge ix-icon"><i class="material-icons">work</i></div>
      </article>
      <article class="timeline-event">
        <div class="card timeline-content">
          <div class="card-content">
            <p class="card-title">Certified Ski Instructor</p>
            <a href="http://www.implement-ix.com/"><p class="details">Vail Resorts - Keystone, CO</p></a>
            <p class="dates">2013 - 2016</p>
            <p>For three consecutive seasons I provided quality ski instruction to groups and individuals in a safe and fun manner in both a part-time and full-time position. During my first season, I achieved my certification as a Professional Ski Instructor of America (PSIA) through an intensive three-day certification program.</p>
          </div>
        </div>
        <div class="timeline-badge keystone-icon"><i class="material-icons">landscape</i></div>
      </article>
      <article class="timeline-event">
        <div class="card timeline-content">
          <div class="card-content">
            <p class="card-title">Guest Service Agent</p>
            <a href="http://www.implement-ix.com/"><p class="details">Xanterra Parks &amp; Resorts, Inc. - Old Faithful, WY</p></a>
            <p class="dates">2013</p>
            <p>Registered and greeted visitors at check-in and check-out and tried to satisfy any request. Provided excellent guest service while acting as unofficial concierge to help guests plan activities throughout their stay at the Old Faithful Inn.</p>
          </div>
        </div>
        <div class="timeline-badge yellowstone-icon"><i class="material-icons">map</i></div>
      </article>
      <article class="timeline-event">
        <div class="card timeline-content">
          <div class="card-content">
            <p class="card-title">Intern</p>
            <a href="http://www.implement-ix.com/"><p class="details">U.S. Congressman Jim Cooper - Nashville, TN</p></a>
            <p class="dates">2012</p>
            <p>Assisted Tennessee’s Fifth Congressional District by analyzing proposed legislation, researching current issues and legislation, compiling research, drafting memos, composing writing samples, and responding to constituent calls and mailings.</p>
          </div>
        </div>
        <div class="timeline-badge gov-icon"><i class="material-icons">folder</i></div>
      </article>
    </div>

  </div>
</section>
