<section class="section">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center-align">Projects</h4>
      <article class="row projects">

        <div class="col s12 m12 l6 project">
          <a href="https://cookbot.xyz/#/home" target="_blank">
            <img class="z-depth-2" src="images/CookBot.png">
            <p class="center project-name">CookBot</p>
          </a>
        </div>

        <div class="col s12 m12 l6 project">
          <a href="https://smart-home-1fcd9.firebaseapp.com/#/home" target="_blank">
            <img class="z-depth-2" src="images/SmartHome.png">
            <p class="center project-name">SmartHome</p>
          </a>
        </div>

        <div class="col s12 m12 l6 project">
          <a href="https://github.com/Happy-Tracker/App" target="_blank">
            <img class="z-depth-2" src="images/Happy Tracker.png">
            <p class="center project-name">Happy Tracker</p>
          </a>
        </div>

        <div class="col s12 m12 l6 project">
          <a href="https://cheesy-wine-pairs.firebaseapp.com/" target="_blank">
            <img class="z-depth-2" src="images/wine pairs.png">
            <p class="center project-name">Cheesy Wine Pairings</p>
          </a>
        </div>

        <div class="col s12 m12 l6 project">
          <a href="https://github.com/lfollansbee/HP-CRUD-blog" target="_blank">
            <img class="z-depth-2" src="images/Leaky Cauldron.png">
            <p class="center project-name">The Leaky Cauldron</p>
          </a>
        </div>

        <div class="col s12 m12 l6 project">
          <a href="#" target="_blank">
            <img class="z-depth-2" src="images/Syllabusy2.png">
            <p class="center project-name">Syllabusy</p>
          </a>
        </div>

      </article>
    </div>
  </div>
</section>
