<section class="section">
  <div class="row">
    <h4 class="center-align header">Skills</h4>
    <div class="col s12 m12 l12 card z-depth-1">
      <div class="card-content">
        <article class="col s6 m3 l3">
          <p class="card-title center">Front End</p>
          <ul class="center">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Sass</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>AngularJS</li>
          </ul>
        </article>
        <article class="col s6 m3 l3">
          <p class="card-title center">Back End</p>
          <ul class="center">
            <li>Node.js</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li>Knex.js</li>
            <li>Handlebars</li>
            <li>MongoDB</li>
          </ul>
        </article>
        <article class="col s6 m3 l3">
          <p class="card-title center other">Other</p>
          <ul class="center">
            <li>Johnny-Five</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>Mocha/Chai</li>
            <li>Git + Github</li>
            <li>Agile Project Management</li>
          </ul>
        </article>
        <article class="col s6 m3 l3 personal">
          <p class="card-title center">Personal</p>
          <ul class="center">
            <li>Teamwork</li>
            <li>Critical Thinking</li>
            <li>Research</li>
            <li>Writing</li>
            <li>Customer Service</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
