@import "https://fonts.googleapis.com/css?family=Merienda";
@import "https://fonts.googleapis.com/css?family=Merriweather+Sans";
.timeline {
  position: relative; }
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px; }
    .timeline .timeline-event .timeline-content {
      position: relative;
      width: calc(50% - 50px); }
    .timeline .timeline-event::before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 65px);
      position: absolute;
      background: rgba(52, 50, 50, 0.7);
      left: calc(50% - 1px);
      top: 3em; }
    .timeline .timeline-event::after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 20px);
      position: absolute;
      background: rgba(52, 50, 50, 0.7);
      left: calc(50% - 1px);
      top: calc(50% + 20px); }
    .timeline .timeline-event:first-child::before, .timeline .timeline-event:last-child::after {
      display: none; }

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px); }

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0; }

.timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default; }
  .timeline-badge i {
    font-size: 25px;
    line-height: 40px; }

.ix-icon {
  background-color: #2079c7;
  color: white; }

.keystone-icon {
  background-color: #e7584b;
  color: white; }

.yellowstone-icon {
  background-color: #4caf50;
  color: white; }

.gov-icon {
  background-color: #2079c7;
  color: white; }

@media (min-width: 700px) {
  .timeline-event {
    margin-bottom: -10em; } }
@media (max-width: 700px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px); }

  .timeline .timeline-event::before {
    left: 19px;
    height: calc(50% - 65px); }

  .timeline .timeline-event::after {
    left: 19px;
    height: 60%; }

  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px; }

  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px; }

  .timeline .timeline-badge {
    left: 0; } }
body {
  background-color: #eceff1;
  font-family: 'Merriweather Sans', sans-serif; }
  body a {
    color: #2079c7; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merienda', cursive;
  color: #2079c7; }

header {
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url("../images/IMG_2544 (1).jpg") center center/cover no-repeat fixed;
  background-position: center center;
  margin-bottom: -20em; }

#intro {
  background-color: #2079c7;
  color: #eceff1; }
  #intro h3, #intro h5 {
    color: #eceff1; }
  @media (max-width: 700px) {
    #intro h3, #intro h5 {
      font-size: 1.5rem; }
    #intro img {
      width: 50%; } }
  #intro img {
    width: 35%; }
  #intro i {
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
    margin: 1vw 2vw; }
    #intro i:hover {
      box-shadow: none; }
  #intro .fa-linkedin {
    background-color: #1a86bc; }
  #intro .fa-github {
    background-color: #343232; }
  #intro .fa-envelope-o {
    background-color: #e7584b; }

#about .card-action a {
  color: #e7584b; }

#skills .card {
  background-color: white; }
  #skills .card li {
    margin-bottom: .5rem; }
  #skills .card .personal {
    color: #e7584b; }

#edu {
  margin-top: 6rem; }
  #edu .tab a {
    color: #e7584b; }
  #edu .card {
    background-color: white;
    padding-bottom: 1em; }
    #edu .card .card-title {
      font-size: 1.5rem;
      line-height: normal; }
    #edu .card .details {
      font-weight: bold;
      font-size: 1.2rem; }
    #edu .card .dates {
      font-size: 1.2rem; }
    #edu .card .du {
      height: 10vw; }
    #edu .card a {
      color: currentColor; }
  #edu .school {
    display: flex;
    justify-content: center; }

#exp .card-title {
  font-size: 1.25rem;
  line-height: normal; }
#exp a {
  color: currentColor; }
#exp .details {
  font-weight: bold;
  padding: .5rem 0; }
#exp .dates {
  padding-bottom: .5rem; }

.projects img {
  width: 100%;
  margin: .5vw 0; }

.project {
  position: relative;
  width: 100%; }
  .project .project-name {
    position: absolute;
    bottom: 30%;
    padding: 1em 0;
    width: 93%;
    font-size: 1em;
    color: rgba(236, 239, 241, 0); }
  .project:hover .project-name {
    background-color: rgba(52, 50, 50, 0.7);
    color: #eceff1;
    font-weight: bold; }

.modal-content i {
  color: #eceff1;
  background-color: #2079c7;
  padding: 1rem;
  border-radius: 50%;
  margin: 1vh 2vw; }
  .modal-content i:hover {
    box-shadow: none; }

#contact .card-content {
  display: flex;
  justify-content: space-between; }

.nav-side {
  background-color: rgba(236, 239, 241, 0.6);
  padding: 1em 2em 1em 1em; }
  .nav-side li a {
    vertical-align: top;
    line-height: 2rem;
    color: #2079c7; }
    .nav-side li a i {
      padding: 0 .5rem; }
    .nav-side li a:hover {
      background-color: #cfd8dc;
      border-left: 1px solid #e7584b; }
    .nav-side li a:active {
      border-left: 2px solid #e7584b; }

/*# sourceMappingURL=main.css.map */
